/******************
Basic Reset
*******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input:focus,
button:focus {
  outline: none;
}

button {
  border: none;
}

/******************
Custom Setup
*******************/

:root {
  --main-bg-color: #1b1e25;
  --main-orange-color: #ff8c00;
}

::placeholder {
  color: #626262;
}

/******************
Main Styling
*******************/

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg-color);
  padding: 35px 30px;
}

body > header {
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

body > header h1 {
  color: #fff;
  font-size: 35px;
}

section {
  height: 80%;
  width: 100%;
  border: 1px solid white;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.search-box {
  height: 44px;
  margin-bottom: 24px;

  display: flex;
}

.search-box div {
  width: 70%;
  margin-right: 15px;
  border-bottom: 2px solid #bdbdbd;
}

.search-box input[name="search-city"] {
  width: 100%;
  height: 44px;
  background: none;
  border: none;
  font-size: 23px;
  font-weight: 500;
}

.search-city-btn {
  height: 44px;
  width: 65px;
  background: var(--main-orange-color);
}

.convert-switch {
  border:1px solid white;
  width: 60px;
  height: 30px;
  align-self: flex-end;
}

section main {
  margin-top: 20px;
  border: 1px solid white;
  flex: 1 0 0;

  display: flex;
  justify-content: center;
}

.city {
  width: 208px;
  height: 270px;
  border: 1px solid white;
}

